global
    log stdout format raw local0
    maxconn 20000

defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    default-server init-addr last,libc,none inter 3s fall 3 rise 2

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend http_in
    bind *:80
    default_backend caddy_web_http

frontend https_in
    bind *:443
    option tcplog
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend caddy_turn_tls if { req.ssl_sni -i livekit-turn.ossmeet.com }
    default_backend caddy_web_tls

backend caddy_web_http
    server caddy-web caddy-web:80 check resolvers docker resolve-prefer ipv4

backend caddy_web_tls
    server caddy-web caddy-web:443 check send-proxy-v2 resolvers docker resolve-prefer ipv4

backend caddy_turn_tls
    server caddy-turn caddy-turn:443 check resolvers docker resolve-prefer ipv4
